.nav_left {
    float: left;
    margin-left: 30px;
}

.nav_left ul li {
    float: left;
    line-height: 48px;
}

.nav_left ul li a {
    color: #000000;
    font-size: 16px;
    margin-right: 60px;
    font-weight: 700;
}

.list_phone {
    margin-top: 25px;
}

.list_phone ul li {
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
}

.list_phone ul li:nth-child(4n) {
    margin-right: 0;
}

.list_phone ul li:nth-child(n+5) {
    margin-top: 10px;
}

.phone_text {
    margin-left: 10px;
    margin-top: 5px;
}

.price {
    margin-top: 10px;
}

.phone_text {
    font-size: 14px;
}

.new {
    font-size: 22px;
    color: #e60012;
    font-weight: 700;
}

.old {
    padding-left: 10px;
    font-weight: 700;
    color: #a4a4a4;
    text-decoration: line-through;
}

.number {
    height: 15px;
    line-height: 15px;
    margin-top: 10px;
}

.progress_bar {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 140px;
    height: 15px;
    border: solid 2px #e60012;
    border-radius: 10px 10px;
    background-color: #e60012;
}

.progress_bar>span {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 11px;
    background-color: #ffffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list_phone ul li>button {
    margin-top: 15px;
    width: 290px;
    height: 40px;
    background-color: #e60012;
    color: #ffffff;
    font-size: 20px;
}

.list_phone ul li:hover {
    border: solid 1px #e60012;
}

footer {
    margin-top: 100px;
}