header {
    margin: 0 auto;
    margin-top: 15px;
    width: 1200px;
    height: 70px;
}

footer {
    height: auto;
    background-color: #ffffff;
}

.sign_in_main {
    height: 486px;
    background-color: #7e00ff;
}

.sign_in_main .w {
    height: 486px;
    background-image: url(../images/loginbg.png);
}

.sign_in_main_form {
    float: right;
    margin-top: 50px;
    margin-right: 110px;
    padding: 25px 40px 15px;
    width: 380px;
    height: 380px;
    background-color: #ffffff;
}

.sign_in_main_form_head {
    height: 20px;
    line-height: 20px;
}

.sign_in_main_form_head ul li {
    float: left;
    width: 150px;
    text-align: center;
    color: #c81623;
    font-size: 18px;
}

.sign_in_main_form_head ul li:first-child {
    border-right: solid 1px #dddddd;
    color: #666666;
}

.sign_in_main_form .tips {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 30px;
    width: 300px;
    line-height: 28px;
    background-color: #fffdee;
    border: solid 1px #dddddd;
}

.input {
    margin-bottom: 20px;
    height: 40px;
    width: 300px;
    border: solid 1px #3aa2e4;
}

.username {
    display: inline-block;
    width: 40px;
    height: 38px;
    background-image: url(../images/sign1.png);
    background-size: 100%;
}

.password {
    display: inline-block;
    width: 40px;
    height: 38px;
    background-image: url(../images/sign2.png);
    background-size: 100%;
}

.input i img {
    height: 100%;
    width: 100%;
}

.input input {
    padding-left: 10px;
    width: 258px;
    height: 38px;
    vertical-align: top;
}

.auto {
    color: #b2b2b2;
}

.auto span {
    float: right;
}

.auto span a {
    color: #333333;
}

.button {
    margin-top: 20px;
    height: 40px;
}

.button button {
    height: 40px;
    width: 300px;
    color: #ffffff;
    background-color: #c81623;
}

.quick {
    margin-top: 15px;
    height: 40px;
    background: url(../images/regetype.png) no-repeat;
}

.quick span {
    float: right;
    margin-top: 15px;
    color: #1474af;
}