.logo {
    position: relative;
}

.logo span {
    display: inline-block;
    position: absolute;
    right: -70px;
    top: 50%;
    padding-left: 10px;
    font-size: 19px;
    color: #333333;

}

.search {
    float: right;
}

.submit_title {
    margin-top: 20px;
}

.submit_title h2 {
    font-weight: 400;
    font-size: 16px;
}

.submit_list {
    margin-top: 20px;
    height: 800px;
    border: solid 1px #dddddd;
}

.submit_list_information {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    padding-left: 25px;
    height: 120px;
    border-bottom: solid 1px #dddddd;
}

.submit_list_information p:first-child {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.submit_list_information p span {
    font-size: 12px;
    float: right;
    color: #1474af;
    margin-right: 35px;
}

.submit_list_information_address {
    margin-top: 15px;
    margin-left: 20px;
    height: 30px;
}

.submit_list_information_address span {
    float: left;

    margin-right: 10px;
    width: 145px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    border: solid 2px #c81623;
}

.submit_list_information_text {
    float: left;
    line-height: 30px;
}

.submit_list_information>p:last-child {
    margin-top: 15px;
    margin-left: 20px;
}

.submit_list_information>p:last-child::after {
    content: '\e91e';
    font-family: 'icomoon';
    padding-left: 5px;
}

.submit_list_address {
    margin: 0 25px;
    padding-left: 45px;
    height: 70px;
    border-bottom: solid 1px #dddddd;
}

.submit_list_address span {
    display: inline-block;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
}

.submit_list_address span:first-child {
    margin-right: 10px;
    width: 145px;
    line-height: 28px;
    text-align: center;
    border: solid 1px #dddddd;
}

.submit_list_method {
    margin: 0 25px;
    height: 100px;
    border-bottom: solid 1px #dddddd;
}

.submit_list_method p {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
}

.submit_list_method span:nth-child(2) {
    margin-left: 45px;
    border-right: none;
}

.submit_list_method span {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: solid 1px #dddddd;
}

.submit_list_method .online_payment {
    margin-left: 10px;
    border: solid 2px #c81623;
    line-height: 26px;

}

.submit_list_method span:last-child {
    border: none;
}

.submit_list_phone {
    height: 340px;
    margin: 0 25px;
    border-bottom: solid 1px #dddddd;
}

.submit_list_phone_head {
    height: 60px;
    padding-top: 20px;
    padding-left: 25px;
}

.submit_list_phone_head p {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.submit_list_phone_express {
    padding-left: 25px;
    padding-top: 15px;
    height: 100px;
    background-color: #f4f4f4;
}

.submit_list_phone_express p {
    font-weight: 700;
}

.submit_list_phone_express span {
    display: inline-block;
    margin-left: 45px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}

.submit_list_phone_express span:nth-child(2) {
    margin-left: 20px;
    width: 145px;
    line-height: 26px;
    text-align: center;
    border: solid 2px #c81623;
    background-color: #ffffff;
}

.submit_list_phone_express span:last-child {
    float: right;
    margin-right: 35px;

}

.submit_list_phone_express span a {
    color: #1474af;
}

.submit_list_phone_commodity {
    height: 160px;
    padding-left: 25px;
    padding-top: 20px;
    background-color: #feedef;
}

.submit_list_phone_commodity h3 {
    font-size: 12px;
    color: #666666;
}

.submit_list_phone_commodity_main {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 550px;
    height: 83px;
}

.submit_list_phone_commodity_main img {
    float: left;

}

.submit_list_phone_commodity_main p {
    float: left;
    margin-left: 110px;
}

.submit_list_phone_commodity_main span {
    float: left;
    margin-left: 110px;
    margin-top: 25px;
    color: #c81623;
}

.submit_list_phone_commodity_price {
    display: inline-block;
    margin-top: 30px;
    margin-left: 290px;
    font-size: 14px;
    color: #e60012;
    font-weight: 700;
}

.submit_list_phone_commodity_number {
    display: inline-block;
    margin-left: 50px;
}

.submit_list_phone_commodity_state {
    float: right;
    margin-top: 30px;
    margin-right: 35px;
}

.submit_list_invoice {
    height: 110px;
    margin-left: 25px;
    padding-left: 25px;
    padding-top: 20px;
}

.submit_list_invoice h3 {
    color: #333333;
    font-weight: 700;
}

.submit_list_invoice span {
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
}

.submit_list_invoice span:nth-child(2) {
    margin-left: 20px;
}

.submit_list_invoice a {
    margin-left: 35px;
    color: #1474af;
}

.submit_list_invoice p {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.submit_list_invoice p::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 5px;
}

.submit_list_bottom {
    padding-top: 20px;
    height: 90px;
}

.submit_list_bottom ul {
    float: right;
    margin-right: 35px;
}

.submit_list_bottom ul li {
    height: 20px;
}

.submit_list_bottom ul li span {
    display: inline-block;
    margin-right: 70px;
    width: 130px;
    text-align: right;
}

.submit_list_bottom ul li>i {
    display: inline-block;
    width: 55px;
    text-align: right;
}

.submit_list_bottom ul li span i {
    color: #c81623;
}

.submit_list_bottom ul li:last-child>i {
    color: #e60012;
    font-weight: 700;
}

.submit_git {
    height: 80px;
    background-color: #f4f4f4;
    border: solid 1px #dddddd;
}

.submit_git_text {
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    text-align: right;
}

.submit_git_text span {
    margin-right: 30px;
    color: #333333;
}

.submit_git_text i {
    font-size: 16px;
    font-weight: 700;
    color: #e60012;
}

.submit_git_text p {
    color: #999999;
}

.submit_button {
    height: 70px;
    padding-top: 20px;
}

.submit_button button {
    float: right;
    margin-right: 35px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #e60012;
}